<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add user</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <div class="page">
        <button style="display: flex; margin: auto;" class="btn btn-primary" id="myBtn"  ><a style="color: black;" href="/admin">back</a></button>
        <div class="container">
            <form action="/adminAdd", method="post">
                <div class="mb-3 mt-3">
                    <label for="lastName">Last name:</label>
                    <input type="name" class="form-control" id="lastName" placeholder="Enter Last Name" name="lastName">
                </div>
                <div class="mb-3 mt-3">
                    <label for="firstName">First name:</label>
                    <input type="name" class="form-control" id="firstName" placeholder="Enter First Name" name="firstName">
                </div>
                <div class="mb-3 mt-3">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    <span id="emailError" class="error"></span>
                </div>
                <div class="mb-3">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
                    <span id="passwordError" class="error"></span>
                </div>
                <div class="mb-3">
                    <label for="confirmPwd">Confirm password:</label>
                    <input type="password" class="form-control" id="confirmPwd" placeholder="Enter password" name="confirmPassword">
                    <span id="confirmPasswordError" class="error"></span>
                </div>
                <div class="mb-3">
                    <label for="country">Confirm coutry:</label>
                    <input type="country" class="form-control" id="confirmCountry" placeholder="Enter country" name="country">
                    <span id="confirmCountryError" class="error"></span>
                </div>
                <div class="mb-3">
                    <label for="age">Confirm Age</label>
                    <input type="age" class="form-control" id="confirmAge" placeholder="Enter Age" name="age">
                    <span id="confirmAgeError" class="error"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="myBtn" data-bs-toggle="tooltip" title="Hooray!" >Submit</button>
            </form>
           
        </div>
    </div>
</body>
</html>